<div class="thumbnail">
  <img src="http://via.placeholder.com/200x200" alt="...">
  <div class="caption">
    <pre> hello </pre>
    <h4> <%= @user.email %> </h4>
    <p> <small> <%= follows_text(@conn, @user) %> </small> </p>
    <p>
      <%= follow_button(@conn, @user) %>
    </p>
  </div>
</div>
