<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Twitter in Elixir">
    <meta name="author" content="">

    <title>Twixir</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://use.fontawesome.com/5da0b6d2eb.js"></script>
  </head>

  <body>
    <div class="container">
        <nav role="navigation" class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="Brand" 
                     src="<%= static_path(@conn, "/images/twixir_logo.png") %>"
                     style="width:35px">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
              <%= if logged_in?(@conn) do %>
                <li class="dropdown">
                  <a href="#"
                     class="dropdown-toggle" 
                     data-toggle="dropdown" 
                     role="button" 
                     aria-haspopup="true" 
                     aria-expanded="false">
                     Welcome <%= current_user(@conn).first_name %>!
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li> <%= link "Sign out", to: user_path(@conn, :logout), method: :delete %> </li>
                  </ul>
                </li>
              <% else %>
                <li> <%= link "Sign in", to: user_path(@conn, :login) %> </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
