  <form class="form-inline pull-right">
    <div class="form-group">
      <label for="findpeople">Find People</label>
      <input type="text" class="form-control" id="findpeople">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
<div class="col-md-12"> public timeline goes here... </div>
